body {
    background: linear-gradient(to right, #FFC0CB, #FFDAB9, #FFEFD5);
}


.wrap {
    width: 60%;
    margin: auto;
    color: aliceblue;
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: #CD5C5C;
}

.container {
    padding: 5px;
    margin: 10%;
}

h2 {
    text-align: center;
}

table {
    margin: auto;
    padding-bottom: 5px;
}

button {
    color: aliceblue;
    width: 50px;
    font-family: comic sans ms;
    height: 30px;
    background-color: #DC143C;
    border-radius: 8px;
}